# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# common build folders
bin
build
lib
installed
patched
rospack*
msg_gen

# sublime text 2
*.sublime-workspace
*.sublime-project

*.pyc

# single use scripts
redo_survey.py
redo_survey.pyc
test_cl_args.py
test_cl_args.pyc