<launch>
<!-- Master Args -->
    <!-- Where the origin is in UTM zone 16S -->
    <arg name="UTMdatum_E" default="659300"/>
    <arg name="UTMdatum_N" default="3607850"/>
    <!-- G35 mesh that gets displayed in different sensor colors -->
    <arg name="veh_mesh_resource" default="$(find fhwa2_description)/mesh/infiniti_03_novatel_centered.dae"/>
    <arg name="err_ell_opacity" default="0.5"/>


<!-- MOOS Stuff -->  
    <node pkg="MOOS" type="uMS" name="uMS" required="true" output="screen"/>


    <!-- MOOS App -->
    <node pkg="fhwa2_MOOS_to_ROS" type="liveBridge_node" name="MOOSBridge" output="screen" respawn="true"
        args="$(find fhwa2_launch)/mission/live.moos gMOOS2ROS"/>


<!-- Sends MOOSrosmsg to respective rvizBridge -->
    <node pkg="fhwa2_gui" type="splitter.py" name="splitter" output="screen" required="true">
        <param name="DEBUG" value=""/>
        <param name="moosapp_name" value="gMOOS2ROS"/>
        <!-- Each solution takes 6 indexes in the string -->
        <param name="soln1_tag" value="rtk"/>
        <param name="soln2_tag" value="gps"/>
        <param name="soln3_tag" value="flt"/>
        <param name="soln4_tag" value="psu"/>
        <param name="soln5_tag" value="sri"/>
        <!-- Where stuff is in that MOOSrosmsg which isn't a position solution -->
        <param name="orient_index" value="30"/>
        <param name="numsat_index" value="31"/>
    </node>


<!-- rViz Nodes -->
    <!-- Survey markers -->
    <node pkg="fhwa2_survey" type="mapBridge.py" name="rviz_survey" output="screen"
        args="$(find fhwa2_survey)/cfg/survey_NCAT.yaml">
        <param name="UTMdatum_E" value="$(arg UTMdatum_E)"/>
        <param name="UTMdatum_N" value="$(arg UTMdatum_N)"/>

        <!-- File inputs -->
        <param name="prefix" value="$(find fhwa2_survey)"/>
        <param name="track_mesh_resource" value="$(find fhwa2_survey)/mesh/NCAT_pavement_plane.stl"/>
        <param name="marking_mesh_resource" value=""/> <!-- Leave empty string for None -->
        <param name="survey_stripe_locs" 
            value="survey/stripes/inner.txt, survey/stripes/middle.txt, survey/stripes/outer.txt"/>
        <param name="survey_center_locs" 
            value="survey/centers/inner.txt, survey/centers/outer.txt"/>
    </node>

    <!-- Solutions -->
    <node pkg="fhwa2_gui" type="rvizBridge.py" name="rvizBridge_rtk" output="screen" required="true">
        <param name="DEBUG" value=""/> <!-- Leave empty string for false -->
        <param name="tag" value="rtk"/> <!-- used to set publishers -->
        <param name="coord_sys" value="ECEF"/>
        <param name="UTMdatum_E" value="$(arg UTMdatum_E)"/>
        <param name="UTMdatum_N" value="$(arg UTMdatum_N)"/>
        
        <!-- display parameters -->
        <param name="display_name" value="RTK"/>
        <param name="veh_mesh_resource" value="$(arg veh_mesh_resource)"/>
        <param name="color_rgb" value="0,255,0"/>
        <param name="legend_text_height" value="4.0"/>
        <param name="err_ell_opacity" value="0.5"/>
    </node>

    <!-- Standalone GPS -->
    <node pkg="fhwa2_gui" type="rvizBridge.py" name="rvizBridge_gps" output="screen" required="true">
        <param name="DEBUG" value=""/> <!-- Leave empty string for false -->
        <param name="tag" value="gps"/> <!-- used to sesync_tolt publishers -->
        <param name="coord_sys" value="ECEF"/>
        <param name="UTMdatum_E" value="$(arg UTMdatum_E)"/>
        <param name="UTMdatum_N" value="$(arg UTMdatum_N)"/>
        
        <!-- display parameters -->
        <param name="display_name" value="GPS"/>
        <param name="veh_mesh_resource" value="$(arg veh_mesh_resource)"/>
        <param name="color_rgb" value="255,0,0"/>
        <param name="legend_text_height" value="3.0"/>
        <param name="err_ell_opacity" value="0.5"/>
    </node>

    <!-- FHWA2 Combined Filtered-->
    <node pkg="fhwa2_gui" type="rvizBridge.py" name="rvizBridge_flt" output="screen" required="true">
        <param name="DEBUG" value=""/> <!-- Leave empty string for false -->
        <param name="tag" value="flt"/> <!-- used to set publishers -->
        <param name="coord_sys" value="ECEF"/>
        <param name="UTMdatum_E" value="$(arg UTMdatum_E)"/>
        <param name="UTMdatum_N" value="$(arg UTMdatum_N)"/>
        
        <!-- display parameters -->
        <param name="display_name" value="Filtered"/>
        <param name="veh_mesh_resource" value="$(arg veh_mesh_resource)"/>
        <param name="color_rgb" value="0,0,255"/>
        <param name="legend_text_height" value="3.5"/>
    </node>

    <!-- Penn St Road Fingerprinting-->
    <node pkg="fhwa2_gui" type="rvizBridge.py" name="rvizBridge_psu" output="screen" required="true">
        <param name="DEBUG" value=""/> <!-- Leave empty string for false -->
        <param name="tag" value="psu"/> <!-- used to set publishers -->
        <param name="coord_sys" value="ECEF"/>
        <param name="UTMdatum_E" value="$(arg UTMdatum_E)"/>
        <param name="UTMdatum_N" value="$(arg UTMdatum_N)"/>
        
        <!-- display parameters -->
        <param name="display_name" value="Penn St"/>
        <param name="veh_mesh_resource" value="$(arg veh_mesh_resource)"/>
        <param name="color_rgb" value="255,0,255"/>
        <param name="legend_text_height" value="2.5"/>
        <param name="err_ell_opacity" value="0.5"/>
    </node>

    <!-- Sarnoff Visual Odometry-->
    <node pkg="fhwa2_gui" type="rvizBridge.py" name="rvizBridge_sri" output="screen" required="true">
        <param name="DEBUG" value=""/> <!-- Leave empty string for false -->
        <param name="tag" value="sri"/> <!-- used to set publishers -->
        <param name="coord_sys" value="ECEF"/>
        <param name="UTMdatum_E" value="$(arg UTMdatum_E)"/>
        <param name="UTMdatum_N" value="$(arg UTMdatum_N)"/>
        
        <!-- display parameters -->
        <param name="display_name" value="Visodo"/>
        <param name="veh_mesh_resource" value="$(arg veh_mesh_resource)"/>
        <param name="color_rgb" value="0,0,255"/>
        <param name="legend_text_height" value="2.0"/>
        <param name="err_ell_opacity" value="0.5"/>
    </node>


<!-- Error Nodes -->
    <!-- GPS / RTK -->
    <node pkg="fhwa2_gui" type="poseError.py" name="gps_rtk_error" output="screen" required="true">
        <param name="DEBUG" value=""/> <!-- Leave empty string for false -->
        <param name="sync_tol" value=".01"/>
        <param name="ref_topic" value="/moos/rtk/odom"/>
        <param name="tgt_topic" value="/moos/gps/odom"/>
        <param name="pub_topic" value="/error_mags/rtk_ref/gps_tgt"/>
    </node>

    <!-- FHWA2 / RTK -->
    <node pkg="fhwa2_gui" type="poseError.py" name="flt_rtk_error" output="screen" required="true">
        <param name="DEBUG" value=""/> <!-- Leave empty string for false -->
        <param name="sync_tol" value=".01"/>
        <param name="ref_topic" value="/moos/rtk/odom"/>
        <param name="tgt_topic" value="/moos/flt/odom"/>
        <param name="pub_topic" value="/error_mags/rtk_ref/flt_tgt"/>
    </node>

    <!-- Penn St / RTK -->
    <node pkg="fhwa2_gui" type="poseError.py" name="psu_rtk_error" output="screen" required="true">
        <param name="DEBUG" value=""/> <!-- Leave empty string for false -->
        <param name="sync_tol" value=".01"/>
        <param name="ref_topic" value="/moos/rtk/odom"/>
        <param name="tgt_topic" value="/moos/psu/odom"/>
        <param name="pub_topic" value="/error_mags/rtk_ref/psu_tgt"/>
    </node>



<!-- rQt -->
    <node pkg="rqt_gui" type="rqt_gui" name="rqt" output="screen" required="true"/>

</launch>