<launch>
<!-- Master Args -->
    <rosparam>
        UTMdatum:
            E: 659300
            N: 3607850

        <!-- tells parser what other rosparams to look for -
                 PUT REFERENCE FIRST -->
        tags: ["rtk","gps","flt","psu","sri"]

        rtk_color: 0,1,0
        rtk_text: RTK

        gps_color: 1,0,0
        gps_text: GPS

        flt_color: 0,0,1
        flt_text: Filtered

        psu_color: 1,0,1
        psu_text: Penn St

        sri_color: 1,1,0
        sri_text: SRI

        err_ell_opacity: 0.4

    </rosparam>


<!-- MOOS Stuff -->
    <!-- <node pkg="MOOS" type="MOOSDB" name="MOOSDB" respawn="true" output="screen"/>     -->
    <node pkg="MOOS" type="uMS" name="uMS" required="true" output="screen"/>

    <!-- MOOS App -->
    <node pkg="fhwa2_MOOS_to_ROS" type="liveBridge_node" name="MOOSBridge" output="screen" respawn="true"
        args="$(find fhwa2_launch)/mission/playback.moos gMOOS2ROS"/>


<!-- Sends MOOSrosmsg to respective rvizBridge -->
    <node pkg="fhwa2_gui" type="splitter.py" name="splitter" output="screen" required="true">
        <param name="DEBUG" value=""/>
        <param name="moosapp_name" value="gMOOS2ROS"/>
        <!-- Each position solution takes 6 indexes in the string -->
        <!-- Where stuff is in that MOOSrosmsg which isn't a position solution 
                begin with index 0 -->
        <param name="orient_index" value="30"/>
        <param name="numsat_index" value="31"/>
    </node>


<!-- Survey -->
    <!-- old monolithic node -->
    <node pkg="fhwa2_survey" type="mapBridge.py" name="survey" output="screen">
        <param name="prefix" value="$(find fhwa2_survey)"/>

        <param name="track_mesh_resource" value="$(find fhwa2_survey)/mesh/NCAT_pavement_plane.stl"/>
        <param name="marking_mesh_resource" value=""/>

        <param name="sign_mesh_resource" value="$(find fhwa2_survey)/mesh/NCAT_section_signs.stl"/>
        <!-- <param name="survey_sign_locs" value="survey/signs/sections.txt"/> -->

        <param name="survey_stripe_locs"
            value="survey/stripes/inner.txt, survey/stripes/middle.txt, survey/stripes/outer.txt"/>
        <param name="survey_center_locs" 
            value="survey/centers/inner.txt, survey/centers/outer.txt"/>
    </node>

    <!-- <include file="$(find fhwa2_survey)/launch/NCAT.launch"/> -->

<!-- Solutions -->
    <include file="$(find fhwa2_launch)/launch/solutions.launch"/>

<!-- Error Nodes -->
    <include file="$(find fhwa2_launch)/launch/errors.launch"/>

<!-- rQt -->
    <node pkg="rqt_gui" type="rqt_gui" name="rqt" output="screen" required="true"/>

</launch>