<launch>
<!--     
    <node pkg="MOOS" type="MOOSDB" name="MOOSDB"
        respawn="true" output="screen"/>
    
    <node pkg="MOOS" type="uPlayBack" name="uPlayBack" 
        required="true" output="screen" />
 -->

    <node pkg="rviz" type="rviz" name="rViz"
        args="-d $(find fhwa2_gui)/rviz/fhwa2.vcg"
        required="true" output="screen" />

    <node pkg="fhwa2_survey" type="mapBridge.py" name="moos2rviz_survey"
        output="screen" args="$(find fhwa2_survey)/cfg/survey.yaml">
        <param name="prefix" value="$(find fhwa2_survey)" />
    </node>

    <node pkg="fhwa2_MOOS_to_ROS" type="liveBridge.py" name="moos2rviz_truth"
        args="$(find fhwa2_launch)/cfg/truth.yaml" output="screen"
        required="true">
        <param name="sender_ip" value="192.168.1.100"/>
        <param name="port" value="9000"/>
    </node>

    <node pkg="fhwa2_MOOS_to_ROS" type="liveBridge.py" name="moos2rviz_combined"
        args="$(find fhwa2_launch)/cfg/combined.yaml" output="screen"
        required="true">
        <param name="sender_ip" value="192.168.1.100"/>
        <param name="port" value="9000"/>
    </node>

</launch>