<launch>

<!-- uMS -->
    <node pkg="MOOS" type="uMS" name="uMS"
        required="true" output="screen" />

<!-- MOOS App -->
    <node pkg="fhwa2_MOOS_to_ROS" type="liveBridge_node" name="liveBridge"
        args="$(find fhwa2_launch)/mission/playback.moos gMOOS2ROS"
        output="screen" required="true"/>

<!-- rViz Nodes -->
    <!-- rViz -->
    <node pkg="rviz" type="rviz" name="rViz"
        args="-d $(find fhwa2_gui)/rviz/cpp.vcg"
        required="true" output="screen" />

    <!-- Survey markers -->
    <node pkg="fhwa2_survey" type="mapBridge.py" name="moos2rviz_survey"
        output="screen" args="$(find fhwa2_survey)/cfg/survey.yaml">
        <param name="prefix" value="$(find fhwa2_survey)" />
    </node>

    <!-- RTK -->
    <node pkg="fhwa2_gui" type="rvizBridge.py" name="rvizBridge_rtk"
        args="$(find fhwa2_launch)/cfg/rtk.yaml" output="screen"
        required="true">
        <param name="DEBUG" value="False"/>
    </node>

    <!-- GPS -->
    <node pkg="fhwa2_gui" type="rvizBridge.py" name="rvizBridge_gps"
        args="$(find fhwa2_launch)/cfg/gps.yaml" output="screen"
        required="true">
        <param name="DEBUG" value="False"/>
    </node>

</launch>