<launch>
<!-- Master Args -->
    <!-- Where the origin is in UTM zone 16S -->
    <arg name="UTMdatum_E" default="659300"/>
    <arg name="UTMdatum_N" default="3607850"/>
    <!-- G35 mesh that gets displayed in different sensor colors -->
    <arg name="veh_mesh_resource" default="$(find fhwa2_description)/mesh/infiniti_03_novatel_centered.dae"/>


<!-- MOOS Stuff -->
    <node pkg="MOOS" type="MOOSDB" name="MOOSDB" respawn="true"/>
    
    <node pkg="MOOS" type="uPlayBack" name="uPlayBack" required="true"/>

    <!-- MOOS App -->
    <node pkg="fhwa2_MOOS_to_ROS" type="liveBridge_node" name="MOOSBridge"
        args="$(find fhwa2_launch)/mission/playback.moos gMOOS2ROS"
        output="screen" required="true"/>


<!-- rViz Nodes -->
    <!-- Survey markers -->
    <node pkg="fhwa2_survey" type="mapBridge.py" name="rviz_survey"
        output="screen" args="$(find fhwa2_survey)/cfg/survey_NCAT.yaml">
        <param name="UTMdatum_E" value="$(arg UTMdatum_E)"/>
        <param name="UTMdatum_N" value="$(arg UTMdatum_N)"/>

        <!-- File inputs -->
        <param name="prefix" value="$(find fhwa2_survey)"/>
        <param name="track_mesh_resource"
            value="$(find fhwa2_survey)/mesh/NCAT_pavement_plane.stl"/>
        <param name="marking_mesh_resource" value=""/> <!-- Leave empty string for None -->
        <param name="survey_stripe_locs" 
            value="survey/stripes/inner.txt, survey/stripes/middle.txt, survey/stripes/outer.txt"/>
        <param name="survey_center_locs" 
            value="survey/centers/inner.txt, survey/centers/outer.txt"/>
    </node>

    <!-- RTK (used as truth) -->
    <node pkg="fhwa2_gui" type="rvizBridge.py" name="rvizBridge_rtk" 
        output="screen" required="true">
        <param name="DEBUG" value=""/> <!-- Leave empty string for false -->
        <!-- used to set publishers and services - very important .
            this must match tags sent to the solution selector service node-->
        <param name="tag" value="rtk"/> 
        <param name="moosapp_name" value="gMOOS2ROS"/> <!-- used to set subscriber -->
        <param name="sensor_name" value="gNovatel"/>
        <!-- Order of variables is critical here -->
        <param name="desired_variables"
            value="zX, zY, zZ, zXStdDev, zYStdDev, zZStdDev, zCourse"/>

        <param name="coord_sys" value="ECEF"/>
        <param name="UTMdatum_E" value="$(arg UTMdatum_E)"/>
        <param name="UTMdatum_N" value="$(arg UTMdatum_N)"/>
        
        <!-- display parameters -->
        <param name="start_enabled" value="True"/><!-- Leave empty string for false -->
        <param name="dictate_pos" value="True"/> <!-- Leave empty string for false -->
        <param name="display_name" value="RTK"/>
        <param name="veh_mesh_resource" value="$(arg veh_mesh_resource)"/>
        <param name="color_rgb" value="0, 255, 0"/>
        <param name="legend_text_height" value="4.0"/>
    </node>

    <!-- Standalone GPS -->
    <node pkg="fhwa2_gui" type="rvizBridge.py" name="rvizBridge_gps"
        output="screen" required="true">
        <param name="DEBUG" value=""/> <!-- Leave empty string for false -->
        <!-- used to set publishers and services - very important .
            this must match tags sent to the solution selector service node-->
        <param name="tag" value="gps"/>
        <param name="moosapp_name" value="gMOOS2ROS"/> <!-- used to set subscriber -->
        <param name="sensor_name" value="gNovatel"/>
        <!-- Order of variables is critical here -->
        <param name="desired_variables"
            value="zpsrX, zpsrY, zpsrZ, zpsrXStdDev, zpsrYStdDev, zpsrZStdDev, zCourse"/>

        <param name="coord_sys" value="ECEF"/>
        <param name="UTMdatum_E" value="$(arg UTMdatum_E)"/>
        <param name="UTMdatum_N" value="$(arg UTMdatum_N)"/>
        
        <!-- display parameters -->
        <param name="start_enabled" value="True"/> <!-- Leave empty string for false -->
        <param name="dictate_pos" value="True"/> <!-- Leave empty string for false -->
        <param name="display_name" value="GPS"/>
        <param name="veh_mesh_resource" value="$(arg veh_mesh_resource)"/>
        <param name="color_rgb" value="255, 0, 0"/>
        <param name="legend_text_height" value="3.0"/>
    </node>


<!-- Error Node -->
    <node pkg="fhwa2_gui" type="poseError.py" name="gps_rtk_error"
        output="screen" required="true">
        <param name="DEBUG" value=""/> <!-- Leave empty string for false -->
        <param name="sync_tol" value=".05"/>
        <param name="ref_topic" value="/moos/rtk/odom"/>
        <param name="tgt_topic" value="/moos/gps/odom"/>
        <param name="pub_topic" value="/error_mags/rtk_ref/gps_tgt"/>
    </node>


<!-- rQt -->
    <node pkg="rqt_gui" type="rqt_gui" name="rqt" output="screen" required="true"/>


<!-- Solution Selector -->
    <node pkg="fhwa2_gui" type="solution_selector_server.py" name="soln_select"
        output="screen" required="true">
        <!-- These must correspond to each of the tags set for the moos to rviz
            nodes -->
        <param name="reference_tag" value="rtk"/>
        <param name="tags" value="gps"/>
    </node>

</launch>