<launch>

<!-- UTMdatum:
    E: 313742.45721616584
    N: 4314027.05485446 -->

<!-- rViz Nodes -->
    <!-- rViz -->
    <node pkg="rviz" type="rviz" name="rViz"
        args="-d $(find fhwa2_gui)/rviz/rqt.vcg"
        required="false" output="screen" />

    <!-- Survey markers -->
    <node pkg="fhwa2_survey" type="mapBridge.py" name="rviz_survey"
        output="screen" args="$(find fhwa2_survey)/cfg/survey_TF.yaml">
        <param name="prefix" value="$(find fhwa2_survey)" />
    </node>

</launch>