<launch>

    <node pkg="MOOS" type="MOOSDB" name="MOOSDB"
        respawn="true" output="screen"/>
    
    <node pkg="MOOS" type="uPlayBack" name="uPlayBack" 
        required="true" output="screen" />

    <node pkg="fhwa2_MOOS_to_ROS" type="liveBridge_node" name="liveBridge_truth"
        args="$(find fhwa2_launch)/mission/truth.moos gMOOS2ROS_truth"
        output="screen" required="true"/>

    <node pkg="fhwa2_MOOS_to_ROS" type="liveBridge_node" name="liveBridge_not_truth"
        args="$(find fhwa2_launch)/mission/not_truth.moos gMOOS2ROS_not_truth"
        output="screen" required="true"/>

</launch>